// @animate :


/* Navigation principale
--------------------------------------------------------------*/
.nav {
  overflow: hidden;
}
.nav .main-logo {
  width: 150px;
  display: inline-block;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
}
.nav .main-logo img {
  width: 100%;
  height: auto;
}
.nav .menu {
  float: right;
}
.nav .menu-item a {
  display: inline-block;
  padding: 30px 20px;
  font-size: 14px;
}
.nav .menu li {
  display: inline-block;
}




/* Navigation Contrast & Care
--------------------------------------------------------------*/



/* Navigation Dose & Care
--------------------------------------------------------------*/
