/*--------------------------------------------------------------
LAYOUT
-------------------------------------------------------------- */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

0 General
1 Header
2 Front Page
3 Regular Content
4 Posts
5 Pages
6 Footer
----------------------------------------------------------------*/
// 0 General
body {
	color: @main_color;
	background-color: @bg_color;
}
.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

// 1 Header