/*= General
-------------------------------------------------------------------------------*/
body {
	font: normal 16px Arial, sans-serif;
	font-family: 'Open Sans';
	font-weight: normal;
}
// base link
a {
	text-decoration: none;
}
p {
	font-size: 14px;
}